*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: left;
    margin-left:auto;
    margin-top: 5px;
    margin-bottom: 50px;
}

th {
    text-align:left;
    font-weight:normal;
    margin-top: 5px;
}



.menu-container {
    background-color: red;
    height: 60px;
    display: flex;
    justify-content: left;
    
}

.menu {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box {
    flex-basis: calc(33.33% - 50px);
    background-color: white;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
footer {
    background-color: red;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-box {
    display: inline-block;
    width: calc(50% - 50px);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.footer-logo {
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    
}