* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 1200px;
    font-size: 18px;
    font-family: sans-serif;
    color: #000000;
    

  }
  
  a:link,
  a:visited {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  .header {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: transparent;
    z-index: 2;
    margin-top: auto;
  }

  .logo {
    top: 50%;
    left: 50%;
    justify-content: center;
    /*z-index: 1;*/
    height: 600 px;
    width: 100 px;
    background: url("images/evian_origins_logo.svg");
    background-repeat: no-repeat;
    background-position: auto;
  
  }
  
  .menu {
    margin-top: 15px;
  }
  
  .menu-right > li {
    margin-right: 50px;
    display: inline;
  }
  
  .menu-right > li:last-of-type {
    margin-right: 0;
  } 

  .menu-left {
    margin-left: 50px;
    display: inline;
  }
  
  

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .example {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .text p {
    margin: 0;
  }

  .text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
  }

  .top-text {
    /*box-sizing: content-box;*/
    /*align-items: center;*/
    border: 5px;
    border-color:  #F8BFC7;
    border-radius: 10px;
    width: 1000px; 
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

  .bottom-text {
    width: 100%;
    text-align: center;
    margin: 10px 0; /* Добавляем отступ сверху и снизу для верхнего и нижнего текста */
  }

  footer {
    background-color: #F8BFC7;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; 
    display: flex;
    justify-content: space-between;
}
.footer-box {
    display: inline-block;
    width: calc(50% - 50px);
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px; 
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.footer-logo {
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    
}