.menu {
    background-color: #E5E000;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.name {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    align-items: center;
    font-family: Helvetica;
    
}

.photo-grid-container {
    display: flex;
    justify-content: center;
  }

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  }



  .links {
    background-color: #E5E000;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .links-text {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    align-items: center;
    font-family: Helvetica;
  }

  .text-h2 {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    align-items: center;
    font-family: Helvetica;
  }

  .text-site {
    color: #000000;
    font-size: 10px;
    margin-left: 30px;
    align-items: center;
    font-family: Helvetica;
  }

  .footer {
    background-color: #E5E000;
    display: flex;
    justify-content: space-between;
  }

  .footer-item {
    display: flex;
    align-items: center;
  } 

  .footer-item-logo {
    width: 30px;
    height: 30px;
    align-self: flex-start;
  }

  .footer-item-text {
    color: #FFFFFF;
    text-align: right;
    align-self: flex-end;
  } 

