/* Обнуление отступов и отступов у элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

p {
  font-family: "Times New Roman";
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: black;
  padding: 20px;
}

h1 {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font: bold;
}

h2 {
  padding-top: 15px;
}

.header {
  width: 100%;
  background-color: #00aaff;
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.column {
  flex-grow: 1;
  /*padding: 20px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  height: fit-content;
}

.illustration {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.illustration img {
  width: 100%;
  /*height: 100%;*/
  
}

.footer {
  width: 100%;
  background-color: #00aaff;
  padding: 20px;
  text-align: center;
  color: black;
  font: bold;
}

.footer-content {
  display: flex;
  justify-content: center;
  color: black;
  font: bolder;
  font-size: 30px;
  text-align: center;
}

/* Макет для мобильных */
@media only screen and (max-width: 500px) {
  .page {
    width: 100%;
    margin: 0 auto;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .illustration img {
    width: 100%;
    display: block;
  }
}

/* Макет для десктопов */
@media only screen and (min-width: 501px) {
  .page {
    width: 100%;
    margin: 0 auto;
  }
}
